
# Dependencies
**/node_modules

# Next.js build output
**/.next
**/out

# Local Environment Variables
.env*.local

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/src/flutter_windows_3.24.3-stable/flutter/
frontend/Notion Setup 4.21.0.exe
jdk-25/
rhel-10.0-x86_64-boot.iso
